h1:not(.ProductList-title, .ProductItem-details-title) {
	font-size: 4vw;
	word-break: keep-all !important;
    word-break: unset;
	word-wrap: unset;
	overflow-wrap: unset;
	-webkit-hyphens: unset;
	-moz-hyphens: unset;
	-ms-hyphens: unset;
	hyphens: unset;
    background: rgba(0,0,0, 0.9);
    padding: 1.5vw;
    color: rgba(255, 255, 255, 1.0) !important;
}

.ProductItem-details p {
  font-family: rubik !important;
  font-size: 18px !important;
  line-height: 1.4rem !important;
  font-weight: 300 !important;
  color: hsla(0%,0%,11%,0.7);
}

h2, .BlogList-item-title, .ProductItem-details-title {
  font-family: calder-dark !important;
  font-size: 1.8rem !important;
}

.Header-tagline {
  display: none;
}

.BlogItem-title {
  font-family: calder-dark;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  letter-spacing: -.04em;
  line-height: 1em;
  text-transform: none;
  color: white !important;
  text-align: left !important;
  margin: 0.0rem 25% 0.0rem 25%;
  width: auto !important;
}

h3 {
  margin-bottom: 2.0rem;
  margin-top: 2.0rem
}

.Mobile-bar--top {
	box-shadow: 0.0rem 0.0rem 1.0rem rgba(0,0,0,0.2);
}

p a:hover {
      color: rgba(255, 0, 80, 1.0) !important;
}

p a {
  color: rgba(0,0,0,1.0) !important;
  text-decoration: none !important;
  border: none !important;
}

.sqs-cookie-banner-v2.LIGHT {
  background-color: rgba(255,255,0,0.9) !important;
  /* height: 2.2rem; */
}

.sqs-block-content .sqs-intrinsic {
  padding-bottom: 0px !important;
}

#block-yui_3_17_2_1_1697820462574_1907 {
	display: none !important;
}

.accordion-item__description {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.tweak-footer-layout-stacked .Footer-blocks--bottom {
    padding-top: 0px !important;
}

.tweak-footer-layout-columns .Footer--mid.Footer--compact .Footer-blocks--middle {
  display: none;
}

[id^=banner] {
  padding-top: 50vh !important;
}

.Footer {
  border-top: 6px solid black;
  background: url('https://images.squarespace-cdn.com/content/v1/652b0f65aeecd32f99b15cac/e2b993c0-89e6-40ad-a801-74da42b75aa6/cartel_auto_logo2b.png') center no-repeat;
  background-size: 160px !important;
  background-color: #444444 !important;
}

.Content-outer {
  min-height: 100vh !important;
}

body {
  background-color: white !important;
}
