/* cartelautomotive.com // cartel500.com */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
:root {
/*    --brand:rgba(255,255,50,1.0); */
    --brand: rgba(255,255,255,1.0);
    --highlight: rgba(255,25,75,1.0);
    --base:rgba(78,83,88,1.0);
    --primary:black;
    --secondary:white;
    --transparent: rgba(0,0,0,0);
}
body {
    width: calc(100vw - 0.5rem);
    position: fixed;
    left:0; top:0;
    border-left: 0.5rem solid var(--highlight);
    min-width: 400px !important;
    height: 100vh;
    margin: 0; 
    padding: 0; 
    font-family: "Archivo Narrow", sans-serif;
    color: white !important;
    background-color: var(--base);
    text-align: center; 
    font-size: 1.5rem;
    line-height: calc(1.2rem 0.5vw);
    text-rendering: geometricPrecision;
    overflow-x: hidden;
}
#about-show, 
#cartel500-show, 
#shop-show,
#contact-show,
.show-text {
    min-width: 270px !important;
    min-height: 4.0rem;  
}
#bg {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    opacity: 0.25;
    position: absolute;
    display: block;
    top: 0;
    background-image: url(../img/figures/06.png); /* /stills/s14b20.jpg */       
    background-position: center;
    background-size: cover;
    cursor: default;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.header {
    display: block;
    width: calc(100vw + 2px);
    position: fixed;
    top: 0;
    padding: 0.0rem;
    z-index: 200;
}
.header a {
    float: left;
    text-decoration: none; 
    padding: 0.7rem 0.6em 0.7rem 0.6em;
    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Rethink Sans", sans-serif;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
}
.header a:hover {
    padding: 0.7rem 0.6em 1.0rem 0.6em;
    background-color: rgba(0, 0, 0, 0.12);
    color: var(--highlight);
    transition: 0.15s all ease-in-out;
}
.centerblock {
    display: block; 
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%,-50%) rotateZ(0deg);
    cursor: default;
    background-color: transparent;
}
.centerblock .logo {
    width: 75vw;
    max-width: 300px !important;
}
.message {
    font-size: 1.4rem;
    width: 75vw;
    max-width: 600px;
    padding-top: 0.5rem;
    font-style: normal;
    word-spacing: -0.08rem;
    text-align: center;
}
#about-show, 
#shop-show,
#cartel500-show, 
#contact-show {
    display: block;
    opacity: 0.0;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%) rotateZ(0deg);
    border-radius: 0.2rem;
    max-width: calc(100vw - 6.0rem);
    max-height: calc(100vh - 16.0rem);
    min-height: 135px;
    position: fixed; 
    transition: 0.3s all ease-in-out;
    background: var(--brand);
    padding: 2.0rem;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 1vh 10vh 0px rgba(0,0,0,0.80);
}    
#about-show:target, 
#shop-show:target,
#cartel500-show:target, 
#contact-show:target {
    opacity: 1.0;
    transition: 0.3s all ease-in-out;
    z-index: 100;
}
#about-show:before {
    background-image: url(../img/figures/03.png);
}
#shop-show:before {
    background-image: url(../img/figures/05.png);
}
#cartel500-show:before {
    background-image: url(../img/figures/08.png);
}
#contact-show:before {
    background-image: url(../img/figures/07.png);
}
#about-show::before,
#shop-show::before,
#cartel500-show::before,
#contact-show::before {
    content: "";
    display: block;
    position: fixed;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%) rotateZ(0deg);
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 120vw;
    height: 100%;
    opacity: 0.05;
/*    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1); */
}
.show-text {
    display: block;
    position: relative;
    width: calc(100vw - 10.0rem);
    max-width: 600px;
    text-align: left;
    font-size: calc(0.9rem + 0.5vh);
    font-weight: 100;
    color: var(--primary);
    border-left: 0.5rem solid var(--base);
    padding-left: 1.0rem;
    padding-right: 2.0rem;
    transition: 0.2s all ease-in-out;
    text-align: left;
/*    text-justify: inter-character; */
}  
.show-text a {
    color: var(--primary);
}
.show-text::after {
    content: "";
    display: block;
    text-align: center;
    width: 90%;
    height: 0.5rem;
    margin-top: 2.1rem;
    margin-left: -1.0rem;
    padding-right: 2.0rem;
    background-color: var(--base);
    background: linear-gradient(90deg, var(--base) 15%, var(--transparent) 95%);
}
#show-bg {
    display: block;
    position: relative;
    top:0; left:0;
    width: 100%;
    max-width: calc(600px + 3.0rem);
    margin: auto;
    height: 8rem;
    background-size: 100%;
    transition: 0.2s all ease-in-out;
}
#about-show #show-bg {
    background-image: url(../img/stills/bbs5style.jpg);
    background-position: center 20%;
    background-size: 150%;
}
#shop-show #show-bg {
    background-image: url(../img/stills/s14b20.jpg);
    background-position: center 35%;
}
#cartel500-show #show-bg {
    background-image: url(../img/stills/dogleg.jpg);
    background-position: center 50%;
}
#contact-show #show-bg {
    background-image: url(../img/stills/m3speedo.jpg);
    background-position: center 90%;
}   
.close, .close::after {
    display: block;
    position: fixed;
    right: 0.2rem;
    top: 0.1rem;
    float: right;
    color: var(--primary);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 0.4rem;
    content: "\2715";
}
h1 {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 800;
    color: var(--base);
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    left: -0.8rem;
    font-size: 3.2rem;
    text-transform: uppercase;
}   
.footer {
    display: none;
    width: calc(100vw - 4.0rem + 2px);
    position: fixed;
    z-index: 10;
    bottom: 0;
    background: var(--brand);
    text-align: center;
    padding: 2.0rem;
}
@media (max-aspect-ratio: 1/1.4) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .show-text {
        font-size: calc(0.8rem + 1.0vh);
        transition: 0.2s all ease-in-out;
    }
    #about-show, 
    #shop-show,
    #cartel500-show, 
    #contact-show {
        min-height: 270px;
    }
}
@media (min-width: 1600px) 
and (orientation: landscape) {
    .show-text {
        max-width: 35vw;
        margin: 0vw 5vw;
        transition: 0.2s all ease-in-out;
    }
    #show-bg {
        max-width: calc(35vw + 3.0rem);
        transition: 0.2s all ease-in-out;
    }
    h1 {
        margin: 0vw 5vw;
    } 
}
/** HIDE SCROLL BARS **/
* {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}    
/* END */